<!--
  Generated template for the AnnoncesPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar *navbar hideBackButton>

        <button menuToggle>
            <ion-icon name='menu'></ion-icon>
        </button>

        <ion-segment [(ngModel)]="segment" (ionChange)="updateListMode()">
            <ion-segment-button value="list">
                Tous
            </ion-segment-button>
            <ion-segment-button value="favorites">
                Favoris
            </ion-segment-button>
        </ion-segment>
        <ion-buttons end>
            <button (click)="presentFilter()">
            <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-searchbar primary (ionInput)="onQuery($event)" placeholder="Rechercher">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>


<ion-content padding class="annonces">
    <div [ngSwitch]="action">


        <ion-list *ngSwitchWhen="'list'">
            <ion-item-sliding *ngFor="let item of annonces">
                <div ion-item>
                    <ion-item-content (click)="edit(item)">
                        <h2>{{item.title}}</h2>
                        <h2>{{item.id}}</h2>
                        <p>{{item.description | truncate: 40}}</p>
                    </ion-item-content>
                    <ion-icon name="star-outline" (click)="addFavorite(item)" item-right *ngIf="!isInFavorite(item)"></ion-icon>
                    <ion-icon name="star" (click)="removeFavorite(item)" item-right *ngIf="isInFavorite(item)"></ion-icon>
                </div>
                <ion-item-options>
                    <button primary *ngIf="!isMine(item)">
                        <ion-icon name="mail"></ion-icon>
                        email
                    </button>
                    <button dark *ngIf="!isMine(item)">
                        <ion-icon name="text"></ion-icon>
                        SMS
                    </button>
                    <button secondary *ngIf="!isMine(item)">
                        <ion-icon name="call"></ion-icon>
                        Appel
                    </button>
                    <button danger (click)="delete(item)" *ngIf="isMine(item)">
                        <ion-icon name="trash"></ion-icon> Delete
                    </button>
                </ion-item-options>
            </ion-item-sliding>
            <button class="round-overlay-button bottom-right positive light" (click)="add()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-list>
        <ion-list *ngSwitchWhen="'favorites'">
            <div *ngFor="let item of favorites">
                <button ion-item (click)="edit(item)">
                        <h2>{{item.title}}</h2>
                        <p>{{item.description | truncate: 40}}</p>
                </button>
            </div>
        </ion-list>

        <button class="round-overlay-button bottom-right positive light" (click)="add()">
            <ion-icon name="add"></ion-icon>
        </button>
    </div>
</ion-content>